## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
to_drop = ['EIN', 'NAME']
cleaned_df = application_df.drop(columns= to_drop)
cleaned_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_counts = cleaned_df.nunique()

# Display the results
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = cleaned_df["APPLICATION_TYPE"].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_type_counts[application_type_counts < 1000].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = cleaned_df["CLASSIFICATION"].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts < 900].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    cleaned_df['CLASSIFICATION'] = cleaned_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure binning was successful
print(cleaned_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_columns = ['APPLICATION_TYPE', 'CLASSIFICATION', "ORGANIZATION", "AFFILIATION", "SPECIAL_CONSIDERATIONS", "USE_CASE", "INCOME_AMT"]
dummy_df = pd.get_dummies(cleaned_df, columns=categorical_columns)
dummy_cleaned =dummy_df.drop(columns = [ "INCOME_AMT_1M-5M", "INCOME_AMT_5M-10M", "INCOME_AMT_10M-50M", "INCOME_AMT_50M+"])

# Display the first few rows of the dummy DataFrame
dummy_cleaned.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_25000-99999
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,1,108590,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = dummy_cleaned.drop(columns=['IS_SUCCESSFUL'])
y = dummy_cleaned['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=52)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [45]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = 40, activation= "relu", input_dim= 47))

# Second hidden layer



nn.add(tf.keras.layers.Dense(units = 30, activation= "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation= "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_29 (Dense)            (None, 40)                1920

 dense_30 (Dense)            (None, 30)                1230

 dense_31 (Dense)            (None, 1)                 31

=================================================================
Total params: 3181 (12.43 KB)
Trainable params: 3181 (12.43 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [46]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [49]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 200)

Epoch 1/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7383
Epoch 2/200
804/804 [==============================] - 1s 956us/step - loss: 0.5379 - accuracy: 0.7390
Epoch 3/200
804/804 [==============================] - 1s 946us/step - loss: 0.5383 - accuracy: 0.7389
Epoch 4/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7376
Epoch 5/200
804/804 [==============================] - 1s 960us/step - loss: 0.5381 - accuracy: 0.7391
Epoch 6/200
804/804 [==============================] - 1s 961us/step - loss: 0.5381 - accuracy: 0.7384
Epoch 7/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7387
Epoch 8/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7394
Epoch 9/200
804/804 [==============================] - 1s 976us/step - loss: 0.5379 - accuracy: 0.7393
Epoch 10/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7394
Epoch 11/200
804/804 [==============================] - 1s 958us/step - loss: 0.5381 - accuracy: 0.7387
Epoch 12/200
804/804 [==============================] - 1s 977us/step - loss: 0.5380 - accuracy: 0.7388
Epoch 13/200
804/804 [==============================] - 1s 1000us/step - loss: 0.5376 - accuracy: 0.7389
Epoch 14/200
804/804 [==============================] - 1s 881us/step - loss: 0.5376 - accuracy: 0.7384
Epoch 15/200
804/804 [==============================] - 1s 870us/step - loss: 0.5375 - accuracy: 0.7391
Epoch 16/200
804/804 [==============================] - 1s 884us/step - loss: 0.5375 - accuracy: 0.7392
Epoch 17/200
804/804 [==============================] - 1s 888us/step - loss: 0.5373 - accuracy: 0.7397
Epoch 18/200
804/804 [==============================] - 1s 861us/step - loss: 0.5370 - accuracy: 0.7376
Epoch 19/200
804/804 [==============================] - 1s 866us/step - loss: 0.5370 - accuracy: 0.7388
Epoch 20/200
804/804 [==============================] - 1s 852us/step - loss: 0.5375 - accuracy: 0.7385
Epoch 21/200
804/804 [==============================] - 1s 922us/step - loss: 0.5372 - accuracy: 0.7382
Epoch 22/200
804/804 [==============================] - 1s 858us/step - loss: 0.5375 - accuracy: 0.7388
Epoch 23/200
804/804 [==============================] - 1s 884us/step - loss: 0.5367 - accuracy: 0.7391
Epoch 24/200
804/804 [==============================] - 1s 850us/step - loss: 0.5371 - accuracy: 0.7394
Epoch 25/200
804/804 [==============================] - 1s 897us/step - loss: 0.5374 - accuracy: 0.7384
Epoch 26/200
804/804 [==============================] - 1s 845us/step - loss: 0.5370 - accuracy: 0.7391
Epoch 27/200
804/804 [==============================] - 1s 858us/step - loss: 0.5366 - accuracy: 0.7385
Epoch 28/200
804/804 [==============================] - 1s 853us/step - loss: 0.5368 - accuracy: 0.7389
Epoch 29/200
804/804 [==============================] - 1s 897us/step - loss: 0.5366 - accuracy: 0.7392
Epoch 30/200
804/804 [==============================] - 1s 875us/step - loss: 0.5368 - accuracy: 0.7382
Epoch 31/200
804/804 [==============================] - 1s 944us/step - loss: 0.5366 - accuracy: 0.7391
Epoch 32/200
804/804 [==============================] - 1s 872us/step - loss: 0.5361 - accuracy: 0.7393
Epoch 33/200
804/804 [==============================] - 1s 945us/step - loss: 0.5365 - accuracy: 0.7392
Epoch 34/200
804/804 [==============================] - 1s 910us/step - loss: 0.5362 - accuracy: 0.7391
Epoch 35/200
804/804 [==============================] - 1s 852us/step - loss: 0.5365 - accuracy: 0.7396
Epoch 36/200
804/804 [==============================] - 1s 908us/step - loss: 0.5362 - accuracy: 0.7385
Epoch 37/200
804/804 [==============================] - 1s 880us/step - loss: 0.5366 - accuracy: 0.7405
Epoch 38/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7388
Epoch 39/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7390
Epoch 40/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7387
Epoch 41/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7404
Epoch 42/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7390
Epoch 43/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7391
Epoch 44/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7396
Epoch 45/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7394
Epoch 46/200
804/804 [==============================] - 1s 969us/step - loss: 0.5362 - accuracy: 0.7393
Epoch 47/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7400
Epoch 48/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7398
Epoch 49/200
804/804 [==============================] - 1s 953us/step - loss: 0.5359 - accuracy: 0.7398
Epoch 50/200
804/804 [==============================] - 1s 917us/step - loss: 0.5358 - accuracy: 0.7395
Epoch 51/200
804/804 [==============================] - 1s 857us/step - loss: 0.5352 - accuracy: 0.7396
Epoch 52/200
804/804 [==============================] - 1s 888us/step - loss: 0.5354 - accuracy: 0.7396
Epoch 53/200
804/804 [==============================] - 1s 996us/step - loss: 0.5356 - accuracy: 0.7402
Epoch 54/200
804/804 [==============================] - 1s 939us/step - loss: 0.5355 - accuracy: 0.7390
Epoch 55/200
804/804 [==============================] - 1s 921us/step - loss: 0.5355 - accuracy: 0.7386
Epoch 56/200
804/804 [==============================] - 1s 918us/step - loss: 0.5354 - accuracy: 0.7391
Epoch 57/200
804/804 [==============================] - 1s 838us/step - loss: 0.5352 - accuracy: 0.7406
Epoch 58/200
804/804 [==============================] - 1s 863us/step - loss: 0.5352 - accuracy: 0.7395
Epoch 59/200
804/804 [==============================] - 1s 989us/step - loss: 0.5353 - accuracy: 0.7396
Epoch 60/200
804/804 [==============================] - 1s 851us/step - loss: 0.5353 - accuracy: 0.7400
Epoch 61/200
804/804 [==============================] - 1s 866us/step - loss: 0.5353 - accuracy: 0.7402
Epoch 62/200
804/804 [==============================] - 1s 873us/step - loss: 0.5351 - accuracy: 0.7404
Epoch 63/200
804/804 [==============================] - 1s 925us/step - loss: 0.5354 - accuracy: 0.7397
Epoch 64/200
804/804 [==============================] - 1s 849us/step - loss: 0.5353 - accuracy: 0.7397
Epoch 65/200
804/804 [==============================] - 1s 855us/step - loss: 0.5355 - accuracy: 0.7392
Epoch 66/200
804/804 [==============================] - 1s 925us/step - loss: 0.5353 - accuracy: 0.7394
Epoch 67/200
804/804 [==============================] - 1s 869us/step - loss: 0.5353 - accuracy: 0.7399
Epoch 68/200
804/804 [==============================] - 1s 872us/step - loss: 0.5349 - accuracy: 0.7396
Epoch 69/200
804/804 [==============================] - 1s 833us/step - loss: 0.5349 - accuracy: 0.7411
Epoch 70/200
804/804 [==============================] - 1s 904us/step - loss: 0.5349 - accuracy: 0.7400
Epoch 71/200
804/804 [==============================] - 1s 868us/step - loss: 0.5353 - accuracy: 0.7402
Epoch 72/200
804/804 [==============================] - 1s 860us/step - loss: 0.5346 - accuracy: 0.7401
Epoch 73/200
804/804 [==============================] - 1s 853us/step - loss: 0.5349 - accuracy: 0.7401
Epoch 74/200
804/804 [==============================] - 1s 870us/step - loss: 0.5346 - accuracy: 0.7403
Epoch 75/200
804/804 [==============================] - 1s 838us/step - loss: 0.5347 - accuracy: 0.7411
Epoch 76/200
804/804 [==============================] - 1s 872us/step - loss: 0.5349 - accuracy: 0.7395
Epoch 77/200
804/804 [==============================] - 1s 892us/step - loss: 0.5346 - accuracy: 0.7403
Epoch 78/200
804/804 [==============================] - 1s 862us/step - loss: 0.5349 - accuracy: 0.7399
Epoch 79/200
804/804 [==============================] - 1s 864us/step - loss: 0.5346 - accuracy: 0.7400
Epoch 80/200
804/804 [==============================] - 1s 847us/step - loss: 0.5344 - accuracy: 0.7401
Epoch 81/200
804/804 [==============================] - 1s 915us/step - loss: 0.5343 - accuracy: 0.7396
Epoch 82/200
804/804 [==============================] - 1s 859us/step - loss: 0.5344 - accuracy: 0.7400
Epoch 83/200
804/804 [==============================] - 1s 860us/step - loss: 0.5346 - accuracy: 0.7408
Epoch 84/200
804/804 [==============================] - 1s 870us/step - loss: 0.5344 - accuracy: 0.7397
Epoch 85/200
804/804 [==============================] - 1s 849us/step - loss: 0.5345 - accuracy: 0.7392
Epoch 86/200
804/804 [==============================] - 1s 845us/step - loss: 0.5346 - accuracy: 0.7403
Epoch 87/200
804/804 [==============================] - 1s 865us/step - loss: 0.5343 - accuracy: 0.7408
Epoch 88/200
804/804 [==============================] - 1s 901us/step - loss: 0.5341 - accuracy: 0.7406
Epoch 89/200
804/804 [==============================] - 1s 862us/step - loss: 0.5344 - accuracy: 0.7394
Epoch 90/200
804/804 [==============================] - 1s 921us/step - loss: 0.5340 - accuracy: 0.7400
Epoch 91/200
804/804 [==============================] - 1s 905us/step - loss: 0.5342 - accuracy: 0.7398
Epoch 92/200
804/804 [==============================] - 1s 856us/step - loss: 0.5338 - accuracy: 0.7402
Epoch 93/200
804/804 [==============================] - 1s 868us/step - loss: 0.5341 - accuracy: 0.7402
Epoch 94/200
804/804 [==============================] - 1s 890us/step - loss: 0.5341 - accuracy: 0.7398
Epoch 95/200
804/804 [==============================] - 1s 912us/step - loss: 0.5340 - accuracy: 0.7398
Epoch 96/200
804/804 [==============================] - 1s 866us/step - loss: 0.5338 - accuracy: 0.7400
Epoch 97/200
804/804 [==============================] - 1s 884us/step - loss: 0.5341 - accuracy: 0.7405
Epoch 98/200
804/804 [==============================] - 1s 914us/step - loss: 0.5339 - accuracy: 0.7400
Epoch 99/200
804/804 [==============================] - 1s 841us/step - loss: 0.5346 - accuracy: 0.7394
Epoch 100/200
804/804 [==============================] - 1s 857us/step - loss: 0.5345 - accuracy: 0.7400
Epoch 101/200
804/804 [==============================] - 1s 861us/step - loss: 0.5337 - accuracy: 0.7404
Epoch 102/200
804/804 [==============================] - 1s 944us/step - loss: 0.5337 - accuracy: 0.7410
Epoch 103/200
804/804 [==============================] - 1s 883us/step - loss: 0.5339 - accuracy: 0.7405
Epoch 104/200
804/804 [==============================] - 1s 878us/step - loss: 0.5338 - accuracy: 0.7410
Epoch 105/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7402
Epoch 106/200
804/804 [==============================] - 1s 914us/step - loss: 0.5339 - accuracy: 0.7402
Epoch 107/200
804/804 [==============================] - 1s 953us/step - loss: 0.5341 - accuracy: 0.7400
Epoch 108/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7410
Epoch 109/200
804/804 [==============================] - 1s 973us/step - loss: 0.5334 - accuracy: 0.7407
Epoch 110/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7406
Epoch 111/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7405
Epoch 112/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7405
Epoch 113/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7408
Epoch 114/200
804/804 [==============================] - 1s 954us/step - loss: 0.5338 - accuracy: 0.7405
Epoch 115/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7409
Epoch 116/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7398
Epoch 117/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7416
Epoch 118/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7404
Epoch 119/200
804/804 [==============================] - 1s 984us/step - loss: 0.5340 - accuracy: 0.7402
Epoch 120/200
804/804 [==============================] - 1s 978us/step - loss: 0.5332 - accuracy: 0.7409
Epoch 121/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7399
Epoch 122/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7407
Epoch 123/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 124/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 125/200
804/804 [==============================] - 1s 960us/step - loss: 0.5334 - accuracy: 0.7408
Epoch 126/200
804/804 [==============================] - 1s 939us/step - loss: 0.5331 - accuracy: 0.7405
Epoch 127/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7410
Epoch 128/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7397
Epoch 129/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7396
Epoch 130/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7406
Epoch 131/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7407
Epoch 132/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7402
Epoch 133/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7406
Epoch 134/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7402
Epoch 135/200
804/804 [==============================] - 1s 993us/step - loss: 0.5328 - accuracy: 0.7413
Epoch 136/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7416
Epoch 137/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7410
Epoch 138/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7402
Epoch 139/200
804/804 [==============================] - 1s 985us/step - loss: 0.5331 - accuracy: 0.7406
Epoch 140/200
804/804 [==============================] - 1s 882us/step - loss: 0.5334 - accuracy: 0.7403
Epoch 141/200
804/804 [==============================] - 1s 852us/step - loss: 0.5331 - accuracy: 0.7399
Epoch 142/200
804/804 [==============================] - 1s 916us/step - loss: 0.5331 - accuracy: 0.7404
Epoch 143/200
804/804 [==============================] - 1s 958us/step - loss: 0.5332 - accuracy: 0.7411
Epoch 144/200
804/804 [==============================] - 1s 865us/step - loss: 0.5328 - accuracy: 0.7410
Epoch 145/200
804/804 [==============================] - 1s 904us/step - loss: 0.5331 - accuracy: 0.7412
Epoch 146/200
804/804 [==============================] - 1s 883us/step - loss: 0.5332 - accuracy: 0.7411
Epoch 147/200
804/804 [==============================] - 1s 868us/step - loss: 0.5326 - accuracy: 0.7411
Epoch 148/200
804/804 [==============================] - 1s 932us/step - loss: 0.5331 - accuracy: 0.7408
Epoch 149/200
804/804 [==============================] - 1s 859us/step - loss: 0.5329 - accuracy: 0.7417
Epoch 150/200
804/804 [==============================] - 1s 883us/step - loss: 0.5332 - accuracy: 0.7401
Epoch 151/200
804/804 [==============================] - 1s 903us/step - loss: 0.5331 - accuracy: 0.7408
Epoch 152/200
804/804 [==============================] - 1s 866us/step - loss: 0.5328 - accuracy: 0.7403
Epoch 153/200
804/804 [==============================] - 1s 872us/step - loss: 0.5329 - accuracy: 0.7407
Epoch 154/200
804/804 [==============================] - 1s 920us/step - loss: 0.5328 - accuracy: 0.7405
Epoch 155/200
804/804 [==============================] - 1s 853us/step - loss: 0.5329 - accuracy: 0.7413
Epoch 156/200
804/804 [==============================] - 1s 872us/step - loss: 0.5328 - accuracy: 0.7411
Epoch 157/200
804/804 [==============================] - 1s 918us/step - loss: 0.5328 - accuracy: 0.7409
Epoch 158/200
804/804 [==============================] - 1s 861us/step - loss: 0.5333 - accuracy: 0.7412
Epoch 159/200
804/804 [==============================] - 1s 863us/step - loss: 0.5330 - accuracy: 0.7409
Epoch 160/200
804/804 [==============================] - 1s 905us/step - loss: 0.5327 - accuracy: 0.7409
Epoch 161/200
804/804 [==============================] - 1s 860us/step - loss: 0.5331 - accuracy: 0.7412
Epoch 162/200
804/804 [==============================] - 1s 877us/step - loss: 0.5325 - accuracy: 0.7407
Epoch 163/200
804/804 [==============================] - 1s 922us/step - loss: 0.5326 - accuracy: 0.7413
Epoch 164/200
804/804 [==============================] - 1s 866us/step - loss: 0.5329 - accuracy: 0.7411
Epoch 165/200
804/804 [==============================] - 1s 870us/step - loss: 0.5333 - accuracy: 0.7401
Epoch 166/200
804/804 [==============================] - 1s 935us/step - loss: 0.5333 - accuracy: 0.7417
Epoch 167/200
804/804 [==============================] - 1s 869us/step - loss: 0.5325 - accuracy: 0.7409
Epoch 168/200
804/804 [==============================] - 1s 869us/step - loss: 0.5327 - accuracy: 0.7408
Epoch 169/200
804/804 [==============================] - 1s 866us/step - loss: 0.5328 - accuracy: 0.7408
Epoch 170/200
804/804 [==============================] - 1s 912us/step - loss: 0.5326 - accuracy: 0.7409
Epoch 171/200
804/804 [==============================] - 1s 854us/step - loss: 0.5326 - accuracy: 0.7402
Epoch 172/200
804/804 [==============================] - 1s 882us/step - loss: 0.5324 - accuracy: 0.7404
Epoch 173/200
804/804 [==============================] - 1s 896us/step - loss: 0.5327 - accuracy: 0.7409
Epoch 174/200
804/804 [==============================] - 1s 853us/step - loss: 0.5329 - accuracy: 0.7407
Epoch 175/200
804/804 [==============================] - 1s 859us/step - loss: 0.5326 - accuracy: 0.7405
Epoch 176/200
804/804 [==============================] - 1s 934us/step - loss: 0.5326 - accuracy: 0.7413
Epoch 177/200
804/804 [==============================] - 1s 873us/step - loss: 0.5326 - accuracy: 0.7405
Epoch 178/200
804/804 [==============================] - 1s 843us/step - loss: 0.5324 - accuracy: 0.7408
Epoch 179/200
804/804 [==============================] - 1s 913us/step - loss: 0.5325 - accuracy: 0.7411
Epoch 180/200
804/804 [==============================] - 1s 874us/step - loss: 0.5330 - accuracy: 0.7405
Epoch 181/200
804/804 [==============================] - 1s 863us/step - loss: 0.5325 - accuracy: 0.7410
Epoch 182/200
804/804 [==============================] - 1s 931us/step - loss: 0.5325 - accuracy: 0.7409
Epoch 183/200
804/804 [==============================] - 1s 846us/step - loss: 0.5326 - accuracy: 0.7409
Epoch 184/200
804/804 [==============================] - 1s 857us/step - loss: 0.5333 - accuracy: 0.7407
Epoch 185/200
804/804 [==============================] - 1s 898us/step - loss: 0.5326 - accuracy: 0.7401
Epoch 186/200
804/804 [==============================] - 1s 867us/step - loss: 0.5324 - accuracy: 0.7410
Epoch 187/200
804/804 [==============================] - 1s 847us/step - loss: 0.5325 - accuracy: 0.7407
Epoch 188/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7406
Epoch 189/200
804/804 [==============================] - 1s 951us/step - loss: 0.5326 - accuracy: 0.7417
Epoch 190/200
804/804 [==============================] - 1s 994us/step - loss: 0.5325 - accuracy: 0.7413
Epoch 191/200
804/804 [==============================] - 1s 965us/step - loss: 0.5326 - accuracy: 0.7408
Epoch 192/200
804/804 [==============================] - 1s 949us/step - loss: 0.5329 - accuracy: 0.7410
Epoch 193/200

In [50]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5774 - accuracy: 0.7257 - 173ms/epoch - 647us/step
Loss: 0.5774354338645935, Accuracy: 0.7257142663002014

In [38]:
# Export our model to HDF5 file